numpy
matplotlib
pandas
librosa
nptyping
tqdm
textblob
torch
adabound
dependencies
pysftp
h5py
pyyaml===5.3.1
yq
numba===0.48.0
kaldiio
frosch
unidecode
inflect
bs4
natsort
python-Levenshtein
deepspeech
gutenberg
pyloudnorm
pandas_profiling
lxml